{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% set pages = site.query('/webb/').include_undiscoverable(true).all() %}
  <div class="container">
    <header>
      <h1>{{ this.title }}</h1>
    </header>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          {% for page in pages %}
          <li class="navbar-item"><a class="navbar-link" href="#{{ page._id }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    {% for page in pages %}
      <section id="{{ page._id }}">
        <h2>{{ page.title }}</h2>
        {{ page.body }}
      </section>
    {% endfor %}
  </div>
{% endblock %}
