<!doctype html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Welcome{% endblock %} — Webbutveckling</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ '/static/normalize.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/skeleton.css'|url }}">
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <link rel="stylesheet" href="{{ '/static/custom.css'|url }}">
</head>
<body>
  <header>
    {% block header %}{% endblock %}
  </header>
  <main>
    {% block body %}{% endblock %}
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="four columns">
          <p><a href="{{ site.root|url }}" class="main-page-link">HEM</a></p>
        </div>
        <div class="four columns">
          {% set page = site.get('/Webbutveckling') %}
          <ul>
            <li><a href="{{ page|url }}" class="main-page-link">{{ page.title }}</a>
            {% for child in page.children %}
              <li><a href="{{ child|url }}">{{ child.title }}</a>
            {% endfor %}
          </ul>
        </div>
        <div class="four columns">
          {% set page = site.get('/Linux') %}
          <ul>
            <li><a href="{{ page|url }}" class="main-page-link">{{ page.title }}</a>
            {% for child in page.children %}
              <li><a href="{{ child|url }}">{{ child.title }}</a>
            {% endfor %}
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="eight columns">
          <p>Copyright &copy; 2018, Linus Törngren</p>
        </div>
        <div class="four columns">
          <p id="social-media">Kod GitHub</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
