
/*
rgb(221, 237, 248);
rgb(125, 158, 181);
rgb(61, 100, 127);
rgb(19, 53, 77);
rgb(1, 12, 20);
*/

/* ---- Typography -------------------------------------------------------- */

h2 {
  margin-top: 20rem;
}

h3 {
  margin-top: 8rem;
}

/* ---- Design ------------------------------------------------------------ */

.container {
  max-width: 800px;
}

header {
  height: 32rem;
  background-image: url(../background.svg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

header > .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

header h1 {
  font-size: 8rem;
  margin: 0;
}

main {
  padding-top: 6rem;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.navbar {
  display: none;
}

footer {
  background-color: rgb(61, 100, 127);
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}

footer p {
  color: rgb(221, 237, 248);
}

footer #social-media {
  text-align: right;
}

footer ul {
  list-style-type: none;
}

footer .main-page-link {
  text-transform: uppercase;
  font-weight: bold;
}

footer hr {
  margin-top: 1rem;
  border-color: rgb(125, 158, 181);
}

/* ---- Move footer to the bottom ----------------------------------------- */

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: 10rem;
}


/* ---- Links ------------------------------------------------------------- */

a, a:hover {
  color: rgb(61, 100, 127);
}

footer a, footer a:hover {
  color: rgb(221, 237, 248);
  text-decoration: none;
}

#social-media a, #social-media a:hover {
  color: rgb(221, 237, 248);
}


/* ---- Syntax highlighting ----------------------------------------------- */

.lang {
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 1rem -1rem 2rem;
}

.lang > span {
  text-transform: uppercase;
  padding: 0.4rem 1rem 0rem;
  display: inline-block;
  width: calc(100% - 2rem);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(80, 80, 80);
}

/*
rgb(250, 75, 32)
rgb(129, 204, 41)
rgb(240, 216, 23)
rgb(31, 109, 227)
rgb(155, 35, 194)
*/

.lang-css > span {
  border-bottom-color: rgb(250, 75, 32);
}

.lang-html > span {
  border-bottom-color: rgb(129, 204, 41);
}

.lang-python > span {
  border-bottom-color: rgb(31, 109, 227);
}

.lang-javascript > span {
  border-bottom-color: rgb(155, 35, 194);
}

.lang-bash > span {
  border-bottom-color: rgb(240, 216, 23);
}

.highlight {
  border-top: 1px solid #ddd;
  background-color: #f8f8f8;
}

.highlight pre {
  font-family: 'Inconsolata', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  padding: 0.5rem 1rem;
  margin: 0;
  overflow-y: hidden;
}

ol, ul {
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

/* Examples on page */

.example {
  padding: 2px;
  border: 1px solid #ddd;
}

.example * {
  margin: 0;
}


/* ---- Larger than phone ------------------------------------------------- */
@media (min-width: 550px) {

} /* @media */

/* ---- Larger than tablet ------------------------------------------------ */
@media (min-width: 750px) {

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

} /* @media */
