.container {
  max-width: 800px;
}

header {
  margin-top: 18rem;
  margin-bottom: 6rem;
  text-align: center;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.navbar {
  display: none;
}

/* Syntax highlighting */
.highlight pre {
  font-family: 'Inconsolata', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0.5rem;
  overflow-y: hidden;
}

/* Larger than phone */
@media (min-width: 550px) {

} /* @media */

/* Larger than tablet */
@media (min-width: 750px) {

.navbar {
  display: block;
  width: 100%;
  height: 6.5rem;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.navbar > .container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

} /* @media */
